#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.backgrid-container {
    margin-top: 50px;
	position: relative;
	display: block;
	width: 100%;
	height: 465px;
	padding: 0;
	overflow: auto;
	border: 0;
}